:root{
    --headers-text:#212121;
    --main-text:#757575;
    --accent-text:#2196F3;
    --main-background:#FFFFFF;
    --white-header:#FFFFFF;
    --background-accent:#2F303A;
    --background-grey:#F5F4FA;
    --grey:rgba(255, 255, 255, 0.6);
}
body{
font-family: 'Roboto',sans-serif;
color: var(--main-text);
background-color: var(--main-background);
font-size: 14px;
}
.list{
list-style: none;
}
.link{
text-decoration: none;
}

/* Header */
.logo{
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
color: var(--accent-text);

}
.studio{
    color: var(--headers-text);
}
.nav-link{
    color: var(--headers-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.nav-link:hover,
.nav-link:focus
{
    color: var(--accent-text);
}
.info{
color: inherit;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
}
.info:hover,
.info:focus {
    color: var(--accent-text);
}
.active{
    color: var(--accent-text);
}

/* Hero */
.hero{
    background-color: var(--background-accent);
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--white-header);

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.button-hero{
color:var(--white-header) ;
background: var(--accent-text);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: var(--white-header);
cursor:pointer;
font-family: inherit;

font-weight: 700;
font-size: 16px;
line-height: 1.8;
}
/* Features*/
.features-header{
font-weight: 700;
line-height: 16px;
text-transform: uppercase;
color: var(--headers-text);
letter-spacing: 0.03em;
font-size: 14px;
}
.features-text{

line-height: 1.7;
letter-spacing: 0.03em;
}
/* header */
.header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--headers-text);
    letter-spacing: 0.03em;
}
/* Occupation */


/* Team */
.team{
    background-color: var(--background-grey);
}
.team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
color: var(--headers-text);
letter-spacing: 0.03em;
}
.team-text{
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-text);
}
.team-icon{
    background-color: var(--main-background);
}
/* FOOTER */
footer{
background-color: var(--background-accent)
}
.footer-link{
    font-weight: 400;
    line-height: 1.7;
    color: inherit;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    color: var(--grey);
}
.footer-link:hover,
.footer-link:focus{
color: var(--accent-text);
}
 .address{
     color: var(--white-header);
 }
 .studio-bottom{
     color: var(--white-header);
 }
 





 /* PORTFOLIO HTML */

 /* PORTFOLIO */
 .button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: var(--headers-text);
    background-color: var(--main-background);
    border: none;
    background-color: var(--background-grey);
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-family: inherit;
 }
 .button:hover,
 button:focus
 {
     color: var(--white-header);
     background-color: var(--accent-text);

 }
 .portfolio-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--headers-text);
 }
 .portfolio-text{
    font-size: 16px;
    line-height: 1.8;
    color: var(--main-text);
    letter-spacing: 0.03em;
 }
 

